.bg{
    background-color:#feeae9 ;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
button{
    background-image: linear-gradient(to bottom, #FF589B 5%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 9px 25px;
    cursor: pointer;
}
.container{
    margin-bottom: 70px;
}
.navbar{
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.categories h1{
    color: #fff;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.card-footer{
    background-color: #fff;
    border-top: none;
}
.but2{
    margin-top: 5px;
}
.run p{
    color: gray;
}
.run{
    height: 300px;
}
.footer{
    text-align: center;
}
.nav-item{
    margin-left: 40px;
    font-size: 20px;
}